
html{
    scroll-behavior: smooth;
}


body{
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    #1d1c1c;
}
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
#particles-js{
position: absolute;
width: 100%;
height: 500%;
background-color: #1d1c1c;
background-image: url('');
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}


  

#contenedor1{
    margin-left: -0.6vw;
    height: 100vh;
    

}
.miPortafo{
    position: relative;
    left: 4vw;
    font-size: 2vw;
    top: -0.5vw;
    width: 30vw;
    height: 4vw;
    font-family: letra3;
}



a{
    text-decoration-line: none;
    color: #fff;

    
}
.imagCamilo{
    position: relative;
    top: -30vw;
    left: -30vw;
    width: 25vw;
    height: 40vw;
}

@font-face{
    font-family: letra;
    src: url(/tipografia/Geoform.otf);
}

@font-face{
    font-family: letra2;
    src: url(/tipografia/5633-font.ttf);
}
@font-face{
    font-family: letra3;
    src: url(/tipografia/secret\ memories.ttf);
}

header{
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: -0.1vw;
    left: 0vw;
    background: #181818;
    position: fixed;
    box-shadow: 0 0 10px #0078d4;
    height: 4.5vw;
    width: 100%;
    color:#0078d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.icono{
    width: 1.4vw;
    height: 1.4vw;
}

#contenedor{
    
    height: 120vw;
    width: 102vw;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.opciones {
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6vw;
    font-size: 1.2vw;
    display: flex;
    gap: 3vw;
    left: 35vw;
    width: 45vw;
    height: 5vw;
    left: 50vw;
}
.opciones img{
    position: relative;
    left: -0.5vw;
    top: 1.1vw;
    
}
.opciones a{
    font-family: letra3;
    display: flex;
    text-decoration: none;
    color:white;

}
.opciones a:hover{
    color: #0078d4;
}

.imagen{
    position: relative;
    box-shadow: 0 0 1vw #0078d4 ;
    border: 0.1vw solid #0078d4 ;
    top: 15vw;
    left: 20vw;
    width: 20vw;
    height: 21vw;
    border-radius: 50vw;
}
.imagen:hover{
    box-shadow: 0 0 2vw #0078d4 ;

}
.contenido1{

    width: 40vw;
    position: relative;
    top: -5vw;
    left: 10vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw
}
.contenido1 p{
    color: white;
    font-family: letra;
}
.contenido1 h1{
    color:#0078d4;
    font-family: letra2;
    
}
#TextoSobremi{
    font-size: 1.5vw;
    position: relative;
    top: 5vw;
    left: 45vw;
    width: 38vw;
    font-family: letra;

}
.imgbotn1{
    position: relative;
    top: 0.2vw;
    width: 1.2vw;
    height: 1.2vw;
}
.botones{
    display: flex;
    width: 22vw;
    height: 4vw;
    position: relative;
    left: 9vw;
    justify-content: space-between;

}

.botones button{
    background: #f7d83a00;
    border:0.1vw solid #0078d4;
    width: 10vw;
    height: 2.5vw;
    border-radius: 0.5vw;
    color: #D0D7E1;
    font-family: letra2;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1vw;
}
.botones button:hover{
    background-color: #0078d4;
    width: 11vw;
    height: 3vw;
    color: white;
}

#contenedor2{
    position: relative;
    top: -1.5vw;
    width: 100vw;
    left: -1vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
#contenedor2 h1{
    color:#0078d4 ;
    font-family: letra2;

}
#DescargarCV{
    background-color: #0078d4;
    border: #0078d4;
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    color: white;
    font-size: 1.2vw;
}

#DescargarCV:hover{
    background-color: #0d426a;
}
.Imgproyecto1{
    width: 15vw;
    height: 16vw;
    mask-image: linear-gradient(
        black 80%, 
        transparent
    );
    border-radius: 1vw;
}
#contenedor3{
    position: relative;
    top: -4vw;
    left: -1vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100vw;
    
}
.imagenesLenguajes{
    position: relative;
    top: 3vw;
    width: auto;
    left: 7vw;
    display: flex;

}
#contenedor3 h2{
    position: relative;
    top: 5vw;
    font-size: 2.5vw;
    font-family: letra2;
    color:#0078d4;
}
.cont1{
    display: flex;
    flex-direction: column;
    width: 17vw;
    text-align: left;
    margin: 0.5vw;
    box-shadow: 0 0 0.5vw #e1e4e6;
}
.cont1 h3{
    font-size: 2vw;
    color:#0078d4;
    font-family: letra2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cont1 p{
    font-size: 1.2vw;
    justify-content: center;
    font-family: letra;
    margin-top: -1vw;
    
    
}
.cont1:hover{
    background-color: #cee6f833;
    box-shadow: 0 0 0.5vw #0078d4;

}


.texCont3{
    position: relative;
    top: 4vw;
    font-family: letra;
    font-size: 2vw;
}


.lenguaje {
    position: relative;
    top: 0.5vw;
    width: 2.5vw;
    height: 2.5vw;
}


#contenedor4{
    position: relative;
    top: -6vw;
    width: 100vw;
    left: -1vw;
    height: auto;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
#contenedor4 h1{
    color: #0078d4;
    font-family: letra2;
    position: relative;
    font-size: 2.8vw;
    top: 4vw;
}
.ContenProyectos{
    position: relative;
    top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    left: 15vw;
    width: 74vw;

}
.TitulProyec{
    position: relative;
    top: 3vw;
    color: #000;
    font-size: 3vw;
}
.proyectLenguajes{
    display: flex;
    gap: 1.5vw;
    align-items: center;
    justify-content: center;
    
}
.proyectLenguajes p{
    background-color: #0078d458;
    border-radius: 0.5vw;
    width: 7.2vw;
    border: 0.1vw solid rgb(251, 251, 251);

}
.proyecto1 {
    background-color: #77c8f350;
    width: 20vw;
    padding: 0.5vw;
    border: 2px solid transparent;
    border-radius: 10px; 
    position: relative; 
    overflow: hidden; 
    border-color: #4257bd;
    box-shadow: 0 0 15px #3e55c7; 
    transition: border-color 0.3s ease, box-shadow 0.3s; 
}

.proyecto1:hover {
    border-color: #22cad3;
    box-shadow: 0 0 15px #22cad3; 
}

a {
    text-decoration: none;
    color: #0078d4;
}

.proyecto1 p {
    color: white;
    font-family: letra;
}
.proyecto1 h2{
    font-family: letra2;
}

.piedepag{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7vw;
    background: #1f1f1f;
    height: 7vw;
    width: 100%;
    color:#979dac;

}
.menu-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
}

.botones2{
    position: relative;
    left: 74vw;
    top: -5vw;
    display: flex;
    width: 20vw;
    justify-content: space-between;
    font-size: 1.2vw;
    
}
.botones2 img{
    width: 1.2vw;
    height: 1.2vw;
}
.botones2 a{
    color: #D0D7E1;
    font-family: letra2;
}
.piedePaText{
    position: relative;
    left: -37vw;
    top: 2vw;
    font-size: 1.2vw;
    color: #8d96ab;
    font-family: letra2;

}
.texDesarr{
    position: relative;
    left: -37vw;
    top: 1vw;
    font-size: 1.2vw;
    color: #979dac;
    font-family: letra;
}
.texAutor{
    position: relative;
    top: -2.5vw;
    color: #979dac;
    font-size: 1vw;
    font-family: letra;
}
.lineaa{
    position: relative;
    top: -2.3vw;
    left: 35vw;
    width: 30vw;
    border: 0.1vw solid rgb(49, 47, 47);
}

#contenedor5{
    position: relative;
    top: 8vw;
    width: 100vw;
    left: -1vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
#contenedor5 h2{
    font-size: 2.7vw;
    font-family: letra2;
    color: #0078d4;


}
form{
    display: flex;
    width: 30vw;
    flex-direction: column;
    gap: 0.5vw;


}
form input{
    height: 2vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}
.botonEnviar{
    position: relative;
    top: 2vw;
    font-size: 1.6vw;
    height: 2.5vw;
    background-color: #0078d4;
    border: #0078d4;
    color: white;
}
.botonEnviar:hover{
    background-color: #3e55c7;
}
form label{
    font-size: 1.5vw;
    font-family: letra2;
    display: flex;
}


@media screen and (max-width: 435px){
    body{
        margin: -0.5vw;
    }
    #contenedor5 h2{
        font-size: 8vw;
        font-family: letra2;
        color: #0078d4;
    
    
    }
    #particles-js{
        position: absolute;
        width: 100%;
        height: 665%;
        
    }
    form{
        display: flex;
        width: 60vw;
        flex-direction: column;
        gap: 0.5vw;
    
    
    }
    form input{
        height: 7vw;
        font-size: 5vw;
        border-radius: 0.5vw;
    }
    .botonEnviar{
        position: relative;
        top: 2vw;
        font-size: 5vw;
        height: 8vw;
        background-color: #0078d4;
        border: #0078d4;
        color: white;
    }
    .botonEnviar:hover{
        background-color: #3e55c7;
    }
    form label{
        font-size: 5vw;
        font-family: letra2;
        display: flex;
    }
    
   
    .botones{
        display: flex;
        width: 68vw;
        left: 0.1vw;        
    
    }
    header{
        width: 101%;
        top: 0vw;
        height: 15vw;
       
    }
    .imagen{
        position: relative;
        top: 30vw;
        left: 0vw;
        width: 60vw;
        height: 60vw;
        border-radius: 50vw;
    }
    .contenido1{
    
        width: 68vw;
        top: 40vw;
        left: 18vw;
        font-size: 5vw;
    }
    .contenido1 p{
        color: white;
        font-family: letra;
    }
    .contenido1 h1{
        font-family: letra2;
        
    }
    .imgbotn1{
        position: relative;
        top: 0.2vw;
        width: 4vw;
        height: 4vw;
    }
    .proyectLenguajes{
        display: flex;
        gap: 3vw;

    }
    #contenedor1{
        height: 115vh;
    }
    .proyectLenguajes p{
        background-color: #0078d458;
        border-radius: 0.5vw;
        width: 25vw;
        font-size: 4vw;
    
    }
    .botones button{
        border: black;
        width: 30vw;
        height: 10vw;
        border-radius: 0.5vw;
        font-family: letra2;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 4vw;
    }
    
    .botones button:hover{
        width: 31vw;
        height: 11vw;
    }
    .menu-toggle {
        position: relative;
        top: -4vw;
        left: 85vw;
        display: flex; 
    }

    .opciones {
        display: none; 
        flex-direction: column;
        position: relative;
        top: 1vw;
        left: 52vw;
        gap: 0.5vw;
        width: 50vw;
        height: 85vw;
        background: #14141491;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 5vw;
    }

    .opciones.active {
        display: flex; 
    }
    .icono{
        width: 7vw;
        height: 7vw;
    }
    .opciones img{
        position: relative;
        left: -0.7vw;
        top: 3.5vw;
        
    }
    .opciones a{
        font-family: letra3;
        display: flex;
        text-decoration: none;
    }
    .miPortafo{
        position: relative;
        left: 5vw;
        font-size: 6vw;
        top: -0.5vw;
        width: 35vw;
        height: 4vw;
        font-family: letra3;
    }
    
    #contenedor2{
        position: relative;
        top: 0vw;
        left: 0.5vw;
        width: 101.5vw;
        height: 170vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    
    }
    #DescargarCV{
        position: relative;
        top: 90vw;
        width: 35vw;
        left: -15vw;
        height: 9vw;
        font-size: 5vw;
    }
   
    .imagCamilo{
        position: relative;
        left: 5vw;
        top: -140vw;
        width: 60vw;
        height: 88vw;

    }
    #TextoSobremi p{
        font-size: 5vw;
        position: relative;
        top: 90vw;
        left:-30vw;
        width: 70vw;
        font-family: letra;


    }
   
    
   
    #contenedor2 h1{
        font-family: letra2;
        font-size: 6vw;
        position: relative;
        left: -10vw;
        top: 7vw;
        font-size: 8vw;
        width: 40vw;

    
    }
    .Imgproyecto1{
        width: 45vw;
        height: 40vw;
        mask-image: linear-gradient(
            black 80%, 
            transparent
        );
        border-radius: 1vw;
    }
    #contenedor3{
        position: relative;
        top: -11vw;
        left: 0.5vw;
        width: 101.5vw;
        height: auto;
        
    }
    #contenedor3 h2{
        top: 10vw;
        font-size: 7vw;
        font-family: letra2;
    }
    
    .texCont3 {
        font-size: 5.5vw;
    }
    .imagenesLenguajes{
        display: flex;
        align-items: center;
        left: 0.1vw;
        flex-direction: column;
    }
   

    .cont1{
        display: flex;
        flex-direction: column;
        width: 50vw;
        text-align: left;
        margin: 2vw;
        box-shadow: 0 0 1.2vw #e1e4e6;

    }
    .cont1 h3{
        font-size: 5vw;
        color:#0078d4;
        font-family: letra2;
    
    }
    
    .cont1 p{
        font-size: 4vw;
        justify-content: center;
        font-family: letra;
        margin-top: -1vw;
    }
    .cont1:hover{
        background-color: #103b5b;
        box-shadow: 0 0 0.5vw #0078d4;
    
    }
    .lenguaje{
        width: 5vw;
        height: 5vw;
    }
    
    
    .ContenProyectos{
        position: relative;
        left: 5vw;
        width: 90vw;
        gap: 4vw;
        grid-template-columns: 2fr; 

    }
    .proyecto1 {
        width: 80vw;
        position: relative;
        left: 4vw;
        padding: 0.5vw;
        border-radius: 4vw; 
        overflow: hidden; 
    }
    #contenedor4{
        top: -16vw;
        width: 101.5vw;
        left: 0.5vw;
        height: auto;
        gap: 2vw;    
    }
    #contenedor4 h1{
        font-size: 7vw;
        position: relative;
        top: 5vw;
    }
    .piedepag{
        height: 25vw;
        width: 100%;    
    }
    .botones2{
        position: relative;
        left: 60vw;
        top: -15vw;
        width: 39vw;
        font-size: 4vw;
        
    }
    .botones2 img{
        width: 4vw;
        height: 4vw;
    }
    .botones2 a{
        font-family: letra2;
    }
    .piedePaText{
        position: relative;
        left: -18vw;
        top: 2vw;
        font-size: 4vw;
        font-family: letra2;
    
    }
    .texDesarr{
        position: relative;
        left: -18vw;
        top: 1vw;
        font-size: 3vw;
        color: #979dac;
        font-family: letra;
    }
    .texAutor{
        position: relative;
        top: -2vw;
        left: -40vw;
        opacity: 0%;
        color: #979dac;
        font-size: 1.2vw;
        font-family: letra;
    }
    .lineaa{
        position: relative;
        top: -2.3vw;
        left: 18vw;
        width: 30vw;
        border: 0.1vw solid rgb(49, 47, 47);
    }
    
    
    
}
@media (min-width: 768px) and (max-width: 1024px){
    body{
        margin: -0.5vw;
    }
    .botones{
        display: flex;
        width: 60vw;
        left: 4vw;        
    
    }
    header{
        width: 101%;
        top: 0vw;
        height: 12vw;
       
    }
    .imagen{
        position: relative;
        top: 20vw;
        left: 0vw;
        width: 40vw;
        height: 40vw;
        border-radius: 50vw;
    }
    .contenido1{
    
        width: 68vw;
        top: 20vw;
        left: 18vw;
        font-size: 3.5vw;
    }
    .contenido1 p{
        color: white;
        font-family: letra;
    }
    .contenido1 h1{
        font-family: letra2;
        
    }
    .imgbotn1{
        position: relative;
        top: 0.2vw;
        width: 4vw;
        height: 4vw;
    }
    
    .botones button{
        border: black;
        width: 25vw;
        height: 9vw;
        border-radius: 0.5vw;
        font-family: letra2;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 4vw;
    }
    
    .botones button:hover{
        width: 28vw;
        height: 10vw;
        color: white;
    }
    .menu-toggle {
        width: 7vw;
        height: 5vw;
        position: relative;
        top: -5vw;
        left: 85vw;
        display: flex; 
    }

    .opciones {
        display: none; 
        flex-direction: column;
        position: relative;
        top: -3vw;
        left: 52vw;
        width: 50vw;
        height: 75vw;
        font-size: 5vw;
        background: #072E33;
    }

    .opciones.active {
        display: flex; 
    }
    .icono{
        width: 7vw;
        height: 7vw;
    }
    .opciones img{
        position: relative;
        left: -0.7vw;
        top: 3.5vw;
        
    }
    .opciones a{
        font-family: letra3;
        display: flex;
        text-decoration: none;
    }
    .miPortafo{
        position: relative;
        left: 5vw;
        font-size: 6vw;
        top: -2vw;
        width: 35vw;
        height: 4vw;
        font-family: letra3;
    }
    
    #contenedor2{
        position: relative;
        top: -5vw;
        left: 0.5vw;
        width: 101.5vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    
    }
    #TextoSobremi{
        font-size: 3.5vw;
        position: relative;
        top: 20vw;
        left: 15vw;
        width: 70vw;
        font-family: letra;
    
    }
    #contenedor2 h1{
        font-family: letra2;
    
    }
    .Imgproyecto1{
        width: 35vw;
        height: 30vw;
        mask-image: linear-gradient(
            black 80%, 
            transparent
        );
        border-radius: 1vw;
    }
    #contenedor3{
        position: relative;
        top: -11vw;
        left: 0.5vw;
        width: 101.5vw;
        
    }
    #contenedor3 h2{
        top: 6vw;
        font-size: 6vw;
        font-family: letra2;
    }
    
    .texCont3 {
        top: 2vw;
        font-size: 4vw;
    }

    
    .ContenProyectos{
        position: relative;
        left: 5vw;
        width: 90vw;
        gap: 4vw;
        grid-template-columns: 2fr; 

    }
    .proyecto1 {
        width: 70vw;
        padding: 0.5vw;
        left: 10vw;
        border-radius: 4vw; 
        overflow: hidden; 
    }
    #contenedor4{
        top: -16vw;
        width: 101.5vw;
        left: 0.5vw;
        height: auto;
        gap: -2vw;    
    }
    #contenedor4 h1{
        font-size: 7vw;
        position: relative;
        top: 5vw;
    }
    .piedepag{
        top: 16vw;
        height: 25vw;
        width: 100%;    
    }
    .botones2{
        position: relative;
        left: 60vw;
        top: -15vw;
        width: 39vw;
        font-size: 4vw;
        
    }
    .botones2 img{
        width: 4vw;
        height: 4vw;
    }
    .botones2 a{
        font-family: letra2;
    }
    .piedePaText{
        position: relative;
        left: -18vw;
        top: 2vw;
        font-size: 4vw;
        color: #8d96ab;
        font-family: letra2;
    
    }
    .texDesarr{
        position: relative;
        left: -18vw;
        top: 1vw;
        font-size: 3vw;
        color: #979dac;
        font-family: letra;
    }
    .texAutor{
        position: relative;
        top: -2vw;
        left: -40vw;
        opacity: 0%;
        color: #979dac;
        font-size: 1.2vw;
        font-family: letra;
    }
    .lineaa{
        position: relative;
        top: -2.3vw;
        left: 18vw;
        width: 30vw;
        border: 0.1vw solid rgb(49, 47, 47);
    }
}